html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

button:active {
  filter: brightness(1.2);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f5f5dc;
  background-image: linear-gradient(
    -45deg,
    #35c3f3 0%,
    #8b9fe8 20%,
    #e681d8 39%,
    #ffa9a4 76%,
    #fed2ce 100%
  );
  height: 100vh;
  width: 100vw;
  user-select: none; /* anything other than Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

.iphone {
  border-radius: 55px;
  width: 410px;
  height: 750px;
  background-color: black;
  position: relative;
  /* border: 2px solid #564d61; */
  box-shadow: 0px 0px 0px 3px #302e30, 0px 0px 0px 4px #181515,
    0px 0px 0px 9px #2b2a26, 0px 0px 0px 10px #000000, 0px 0px 0px 11px #8f8f89,
    0px 0px 0px 15px #fbf6f1, 0px 0px 0px 16px #8f8f89, 0px 0px 0px 17px #67635f,
    0px 0px 0px 18px #19140e, 0px 0px 0px 19px #3e3b3a,
    rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  overflow: hidden;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px yellowgreen solid; */
}

.top-bar {
  width: 100%;
  /* border: 5px green solid; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}

.top-bar #clock {
  font-size: 1.1rem;
  font-weight: 500;
}

.top-bar .dynamic-island {
  border-radius: 25px;
  background-color: #2b2a26;
  width: 70px;
  height: 25px;
  transition: all 0.3s;
}
.top-bar .dynamic-island:hover {
  width: 90px;
}

.top-bar .right-side {
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 25px;
}

.battery {
  /* width: 30px; */
  height: 100%;
  filter: invert();
}
.wifi {
  /* width: 25px; */
  height: 100%;
  filter: invert();
}
.signal {
  /* width: 25px; */
  height: 100%;
  filter: invert();
}

/* Bottom */

#calculator {
  width: 90%;
  /* border: 5px lightblue solid; */
}

#calculator #display {
  display: flex;
  justify-content: end;
  align-items: end;
  /* border: 5px blue solid; */
  background-color: #000000;
  height: 200px;
  font-size: 5rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#display .w {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upper-buttons {
  /* border: red solid 5px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  grid-row-gap: 20px;
}

.num,
.clear,
.s,
.decimal,
.equals,
.operator,
.negative,
.percent {
  margin: 0 auto;
  border: none;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-size: 2.2rem;
  background-color: #333333;
  color: white;
}

.operator,
.equals {
  background-color: orange;
}

.clear,
.percent,
.negative {
  background-color: gray;
  color: black;
}

.bottom-buttons {
  /* border: 5px solid #fe9f08; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 20px;
}

.bottom-buttons .btn {
  margin: 0 auto;
  border: none;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: #a5a5a5;
  font-size: 2rem;
}

.test {
  margin: 0 auto;
  width: 160px;
  /* border: 5px solid #fe9f08; */
  display: flex;
  justify-content: center;
}
.zero {
  padding-left: 27px;
  text-align: start;

  color: white;
  font-size: 2rem;
  width: 100%;
  border-radius: 40px;
  border: none;
  background-color: #333333;
}

.swipe {
  background-color: white;
  width: 120px;
  height: 4px;
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
}

.iphone {
  transition: transform 0.3s;
}

@media (max-width: 1080px) {
  .hero {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .iphone {
    transform: scale(0.7);
  }
}
